[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.2.2"
dj-static = "*"
dj-database-url = "*"
gunicorn = "*"
pypi = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.7"
